@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.btn {
    margin: 5px;
}

.container {
    background-color: rgb(230, 230, 230);
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}