
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.btn {
    margin: 5px;
}

.container {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    

}

h3,h4 {
    font-family: 'Bebas Neue', cursive;
    
   

}
.container{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 5rem;
    border-color: rgb(12, 199, 43);
    
    border-width: thick;
    background: rgba(255, 255, 255, 0.8)
    
}


.row{
    justify-content: center;
}

body{
    background-image: url('images/dollar.jpg');
}

.col-md-3  {
    text-align: center;
    font-weight: bold;
    background-color: grey;
    
}