@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');


.btn {
    margin: 5px;
}

.container {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;

}

.container{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 5rem;
    border-color: rgb(12, 199, 43);
    
    border-width: thick;
    background: rgba(255, 255, 255, 0.8)
    
}

.row{
    justify-content: center;
}

body{
    background-image: url('images/dollar.jpg');
}

.col-md-3  {
    text-align: center;
    font-weight: bold;
    background-color: grey;
    
}